/* FONTS DEFINITION */
@font-face {
  font-family: 'Nunito Sans Regular';
  src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito Sans Bold';
  src: url('../fonts/Nunito_Sans/NunitoSans-Bold.ttf')  format('truetype');
}
/* BASE */
body{
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans Regular';
	font-size: 14px;
	color: #474747;
	background-color: #f4f7f9;
}
.container{
	margin: 0 auto;
}
h1{
	margin: 40px 0;
	font-size: 2em;
}
h1::after{
	content: '';
	display: block;
	height: 2px;
	width: 100px;
	background-color: #714176; 
	margin-top: 10px;
	background: #f83600;
	background: -webkit-linear-gradient(to right, #fe8c00, #f83600); 
	background: linear-gradient(to right, #fe8c00, #f83600);
}
h2{
	font-size: 1.6em;
}
h3{
	font-size: 1.2em;
	font-weight: normal;
}
p{
	margin: 10px 0 10px 0;
	font-size: 1em;
}
a:link, a:visited, a:hover, a:active {
    color: #714176;
    text-decoration: none;
    outline: none;
} 
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
hr{
	border: none;
	height: 1px;
	background-color: rgba(0,0,0,0.1);
	margin: 60px 0;
}
.text-center{
	text-align: center;
}
section{
	margin: 40px 0; 
}
::-webkit-input-placeholder{
	color: #616a6b;
	font-family: 'Nunito Sans Regular';
	font-size: 14px;
}
::-moz-placeholder{
	color: #616a6b;
	font-family: 'Nunito Sans Regular';
	font-size: 14px;
}
:-ms-input-placeholder{
	color: #616a6b;
	font-family: 'Nunito Sans Regular';
	font-size: 14px;
}
:-moz-placeholder{ 
	color: #616a6b;
	font-family: 'Nunito Sans Regular';
	font-size: 14px;
}
/* HEADER */
header{
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	padding: 8px 0 8px 0;
	position: relative;
	z-index: 1;
	background-color: #fff;
	height: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.logo{
	display: inline-block;
	vertical-align: middle;
}
.logo img{
	width: 300px;
	max-width: 100%;
}
nav ul{
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-top: 5px;
}
nav>ul>li{
	display: inline-block;
	padding: 20px;
	position: relative;
}
/* COMPONENTS */
	/* SLIDER */
	.slider{
		min-height: 600px;
		background-color: #c1c1c1;
		background-image: url('../img/1.png');		
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.slider .container{
		position: relative;
	}
	.slider .company-msg{
		position: absolute;
		color: #fff;		
		left: 0;
		top: 80px;
	}
	.slider .company-msg h1{
		font-family: 'Nunito Sans Bold';
		font-size: 50px;
		margin-top: 80px;
	}
	.slider .company-msg h1::after{
		display: none;
	}
	.slider .company-msg h2{
		font-size: 26px;
	}
	/* CARD */
	.card{
		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
		box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		margin: 20px 0;
	}
	.card-image{
		background-color: #fff;
	}
	.card-image img{
		max-width: 100%;
	}
	.card-title{
		margin-bottom: 10px;
		font-size: 1.3em;	
		background-color: #fff;
	}
	.card-body{
		padding: 10px 20px 20px 20px;
		background-color: #fff;
	}
	/* ICON CARD*/
	.icon-card{
		
	}
	/* DROPDOWN */
	.dropdown{
		display: none;
		position: absolute;
		background-color: #fff;
		top: 100%;
		width: 200px;
		margin-top: -8px;
		margin-left: -70px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		overflow: hidden;
		-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
		box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
	}
	.dropdown li{
		vertical-align: top;
	}
	.dropdown li a{
		padding: 10px 20px;
		background-color: #fff;
		display: block;
	}
	.dropdown li a:hover{
		background-color: #714176; 
		color: #fff; 
	}
	.dropdown li a:hover{
		color: #fff;
	}
	nav>ul>li:hover>.dropdown, .dropdown:hover{
		display: block;
		-webkit-animation: FadeIn 0.2s ease 1;
		-moz-animation: FadeIn 0.2s ease 1;
		-o-animation: FadeIn 0.2s ease 1;
		animation: FadeIn 0.2s ease 1;
	}
	/* INPUTS */
	input, textarea, select{
		padding: 10px 14px;
		line-height: 14px;
		display: block;
		width: 100%;
		margin-bottom: 10px;
		background-color: #fff;
		border: none;
		-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
		-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
		box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
		font-size: 14px;
		color: #714176;
		font-family: 'Nunito Sans Regular';
		-webkit-transition: box-shadow 0.2s ease;
		-moz-transition: box-shadow 0.2s ease;
		-o-transition: box-shadow 0.2s ease;
		transition: box-shadow 0.2s ease;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		height: 34px;
	}
	select{
		padding: 0 14px;
	}
	input:focus, textarea:focus{
		-webkit-box-shadow: 0 1px 6px rgba(241, 39, 17,0.5);
		-moz-box-shadow: 0 1px 6px rgba(241, 39, 17,0.5);
		box-shadow: 0 1px 6px rgba(241, 39, 17,0.5);
	}
	textarea{
		resize: none;
	}
	label{
		font-size: 16px;
		color: #714176;
		font-family: 'Nunito Sans Regular';
		font-weight: bold;
		margin: 10px 0;
		display: block;
		-webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	/* INPUT GROUPS */
	.input-group{
		font-size: 0;
	}
	.input-group input{
		display: inline-block;
	}
	.input-group-3 input:nth-child(2){
		width: -webkit-calc(60% - 6px);
		width: -moz-calc(60% - 6px);
		width: -o-calc(60% - 6px);
		width: calc(60% - 6px);
		margin-right: 9px;
	}
	.input-group-3 input:nth-child(3){
		width: -webkit-calc(20% - 6px);
		width: -moz-calc(20% - 6px);
		width: -o-calc(20% - 6px);
		width: calc(20% - 6px);
		margin-right: 9px;
		text-align: center;
	}
	.input-group-3 input:nth-child(4){
		width: -webkit-calc(20% - 6px);
		width: -moz-calc(20% - 6px);
		width: -o-calc(20% - 6px);
		width: calc(20% - 6px);
		text-align: center;
	}
	/* BUTTONS */
	button{
		cursor: pointer;
		padding: 6px 20px;
		border: none;
		color: #fff;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		margin-top: 20px;
		outline: none;
		background-color: #ddd;
		-webkit-transition: box-shadow 0.2s ease;
		-moz-transition: box-shadow 0.2s ease;
		-o-transition: box-shadow 0.2s ease;
		transition: box-shadow 0.2s ease;
	}
	button:focus{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.btn-primary{
		-webkit-box-shadow: 0 2px 4px rgba(241, 39, 17,0.5);
		-moz-box-shadow: 0 2px 4px rgba(241, 39, 17,0.5);
		box-shadow: 0 2px 4px rgba(241, 39, 17,0.5);
		background: #f83600;
		background: -webkit-linear-gradient(to right, #fe8c00, #f83600); 
		background: linear-gradient(to right, #fe8c00, #f83600);
	}
	/* RADIO BUTTONS*/
	.radio-button label{
		position: relative;
		height: 200px;
		width: 100%;
		border: 1px solid rgba(0,0,0,0.15);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		cursor: pointer;
	}
	.radio-button label>div{
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
	}
	.radio-button input[type="radio"]{
		display: none;
	}
	.radio-button input[type="radio"] + span{
		display: none;
		position: absolute;
		background-color: rgba(0,0,0,0.05);
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.radio-button input[type="radio"]:checked + span{
		display: block;
	}
	/* CHECKBOX */
	.checkbox label{
		position: relative;
		padding-left: 26px;
		cursor: pointer;
	}
	.checkbox input[type="checkbox"]{
		display: none;
	}
	.checkbox input[type="checkbox"] + span{
		position: absolute;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid rgba(0,0,0,0.25);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		z-index: -1;
		width: 20px;
		height: 20px;
		left: 0;
		top: 0;
		background-color: #fff;
		line-height: 16px;
		text-align: center;
	}
	.checkbox input[type="checkbox"] + span::before{
		content: "\f00c";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		color: #fff;
		font-size: 12px;
	}
	.checkbox input[type="checkbox"]:checked + span{
		background-color: #714176;
	}
	/* ALERTS */
	.alert{
		padding: 30px 20px;
		background-color: #ddd;
		color: #757575;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		position: relative;
	}
	.alert-close{
		position: absolute;
		right: 4px;
		top: 6px;
		width: 20px;
		height: 20px;
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		cursor: pointer;
	}
	.alert-primary{
		color: #fff;
		background: #f83600;
		background: -webkit-linear-gradient(to right, #fe8c00, #f83600); 
		background: linear-gradient(to right, #fe8c00, #f83600);
		-webkit-box-shadow: 0 2px 4px rgba(241, 39, 17,0.5);
		-moz-box-shadow: 0 2px 4px rgba(241, 39, 17,0.5);
		box-shadow: 0 2px 4px rgba(241, 39, 17,0.5);
	}
	/* SIDENAV */
		body.aside-open{
			overflow-y: hidden;
		}
		aside{
			background-color: #fff;
			position: fixed;
			top: 80px;
			left: -260px;
			bottom: 0;
			width: 260px;
			color: #424242;
			-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
			-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
			box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
			z-index: 1000;
			-webkit-transition: left 0.2s ease;
			-moz-transition: left 0.2s ease;
			-o-transition: left 0.2s ease;
			transition: left 0.2s ease;
			display: none;
			overflow-y: auto;
		}
		aside ul{
			padding: 10px;
			margin: 0;
			list-style-type: none;
		}
		aside ul li{
			padding: 16px 20px;
			background-color: #fff;
			-webkit-transition: all ease 0.1s;
			-moz-transition: all ease 0.1s;
			-o-transition: all ease 0.1s;
			transition: all ease 0.1s;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			position: relative;
			z-index: 1;
			cursor: pointer;
			-webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    outline: none;
		}
		aside ul li:last-child{
			border-top: 1px solid rgba(0,0,0,0.15);
		}
		aside ul li.category{
			border-top: 1px solid rgba(0,0,0,0.15);
			border-bottom: 1px solid rgba(0,0,0,0.15);
			font-weight: bold;
			color: #714176;
		}		

		.hamburger{
			width: 26px;
			height: 26px;
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			display: none;
		}
		.toggle{			
			width: 26px;
			height: 3px;
			background-color: #424242;			
			position: relative;
			top: 12px;
			-webkit-transition: transform 0.2s ease;
			-moz-transition: transform 0.2s ease;
			-o-transition: transform 0.2s ease;
			transition: transform 0.2s ease;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
		.toggle::before{
			content: '';
			display: inline-block;
			width: 26px;
			height: 3px;
			background-color: #424242;
			position: absolute;
			top: -8px;
			-webkit-transition: top 0.2s ease, transform 0.2s ease;
			-moz-transition: top 0.2s ease, transform 0.2s ease;
			-o-transition: top 0.2s ease, transform 0.2s ease;
			transition: top 0.2s ease, transform 0.2s ease;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
		.toggle::after{
			content: '';
			display: inline-block;
			width: 26px;
			height: 3px;
			background-color: #424242;
			position: absolute;
			bottom: -8px;
			-webkit-transition: bottom 0.2s ease;
			-moz-transition: bottom 0.2s ease;
			-o-transition: bottom 0.2s ease;
			transition: bottom 0.2s ease;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
		.toggle.active{
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		.toggle.active::before{
			top: 0;
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}
		.toggle.active::after{
			bottom:0;
		}
/* MAIN */
#main-content{
	
}
#services{
	background-image: url('../img/background-1-1.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	-webkit-background-size: auto 400px;
	-moz-background-size: auto 400px;
	-o-background-size: auto 400px;
	background-size: auto 400px;
}
#services .container, #privileges .container{
	-webkit-box-shadow: 0px 50px 70px -80px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 50px 70px -80px rgba(0,0,0,0.4);
	box-shadow: 0px 50px 70px -80px rgba(0,0,0,0.4);
}
.detail	li{
	margin-bottom: 5px;
}
.detail li:before{
	content: "\f058";
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	margin-right: 5px;
	color: #714176;
}
.section-break{
	margin: 100px 0 0 0;
	min-height: 280px;
	background-color: #c1c1c1;
	background-image: url('../img/banner.png');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#privileges{
	margin: 0;	
	background-image: url('../img/background-2-2.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	-webkit-background-size: auto 360px;
	-moz-background-size: auto 360px;
	-o-background-size: auto 360px;
	background-size: auto 360px;
}
#privileges .container{
	padding-top: 80px;
}
.form-general, .form-type, .personal-info{
	display: none;
}
#form-container h3{
	font-size: 16px;
	color: #714176;
	font-weight: bold;
	margin-bottom: 0;
}
.job-offers li{
	padding: 10px 20px;
	color: #714176;
	font-weight: bold;
	border-top: 1px solid rgba(0,0,0,0.15);
	background-color: #f4f7f9;
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease; 
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.job-offers li:last-child{
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.job-offers li:hover{
	background-color: #fff;
}
/*.job-offers li span{
	float: right;
	width: 70px;
	text-align: center;
	color: #f57c00;
	cursor: pointer;
	text-decoration: underline;
	font-weight: lighter;
}*/
/* FOOTER */
footer{
	background-color: #212121;
	min-height: 200px;
	color: #fff;
	padding: 20px 0;
}
footer iframe{
	width: 100%;
	margin-bottom: 20px;
	border: 0;
}
footer ul li{
	margin-bottom: 5px;
	color: #aaa;
}
footer ul li span{
	width: 20px;
	display: inline-block;
	text-align: center;
	margin-right: 6px;
	color: #fff;
}
footer ul li span i{
	font-size: 16px;
}
footer .developed-by{
	text-align: center;
	color: #aaa;
	margin-top: 10px;
	font-size: 12px;
}
footer a{
	color: #aaa !important;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}
footer a:hover{
	color: #fff !important;
}
footer .developed-by a{
	color: #fff;
}
/* ANIMATIONS */
@-webkit-keyframes FadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes FadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes FadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes FadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
	.container {
		padding: 0 10px;
	}
}
@media screen and (max-width: 768px) {
	nav>ul{
		display: none;
	}
	.slider{
		background-position: 20%;
	}
	.slider .company-msg{
		padding: 20px;
	}
	.slider .company-msg h1{
		margin-top: 40px;
		font-size: 30px;
	}
	.slider .company-msg h2{
		font-size: 20px;
	}
	#privileges{
		background-position: 65% bottom;
	}
	#services{
		background-position: 0 bottom;
	}
	aside{
		display: block;
	}
	aside.active{
		left: 0;
	}
    .hamburger{
    	display: inline-block;
    	margin-right: 10px;
    }
}
@media screen and (max-width: 512px){
	input, textarea {
    	padding: 10px 5px;
	}
	.logo{
		width: -webkit-calc(100% - 45px);
		width: -moz-calc(100% - 45px);
		width: -o-calc(100% - 45px);
		width: calc(100% - 45px);
	}
}